body {
  font-family: Arial, sans-serif;
  background: #f6f8fa;
  margin: 0;
  padding: 20px;
  color: #333;
    width: 500px;
    height: 300px;
}

h2 {
  color: #1877f2;
  margin-bottom: 10px;
  text-align: center;
}

.picker-box {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 16px;
  margin: 2px;
  width: 100%;
 
}

.picker-label {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;


}




.submit-btn {
  background: #34a853;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 5px;
 
 
}

.submit-btn:hover {
  background: #25803b;
}



#minuteInput {
  width: 90%;
  padding: 6px;
  font-size: 1.1em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f2f2f2;

}

.close-btn {
  background: #d73125;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 5px;
 
 
}